extend layout

block content
	div.title2
		a(href="/index/")<font color="black">no</font><font color="red">IP</font><font color="black">asaran</font>	
	div.fourOfour
		p #{url} ? Naaa
		p I think the IP of the page you are looking for is
		a(href="/index")"404.404.404.404"