extend layout

block content
	div.title
		p http://noipasaran.eu01.aws.af.cm#{url} ? Naaa
		p I think the IP of the page you are looking for is
		a(href="http://noipasaran.eu01.aws.af.cm/")"404.404.404.404"