extend layout

block content

	p When you can't trust your ISP
	p When you can't trust one DSN server
	p Then choose to check them all
	p 
	p Made with love by MonsieurBlah
	p Feel free to get the code and
	p use it, modify it, sell it, hack it, steal it, host it