extends layout

block content
	section(id="tables")
		div.page-header
			h1 Tables
		table.table.table-bordered.table-striped.table-hover
			thead
				th Name
				th Primary IP
				th Secondary IP
				th ISP ?
				th Validate
				th Delete
			tbody
				each item in dnslist
					td= item.name
					td= item.primaryIP
					td= item.secondaryIP
					td 
						if item.isISP
							a.btn.btn-success.btn-small() Yes
						else
							a.btn.btn-danger.btn-small() No
					td
						a(href="/validate/"+item._id) Validate
					td
						a(href="/delete/"+item._id) Delete