extend layout

block content
	section.forms(id="form")
		
		div.row
			div.span10.offset1
				form.well.form-search(name="dnsform", action="/submit", method="post")
					input.input-small(name="dnsname", type="text", style="width:420px", placeholder="Name of the ISP or DNS provider")
					br
					br
					input.input-small(name="primaryip", type="text", style="width:420px", placeholder="The primary IP")
					br
					br
					input.input-small(name="secondaryip", type="text", style="width:420px", placeholder="The secondary IP") 
					br
					br
					input.input-small(name="country", type="text", style="width:420px", placeholder="Country") 
					br
					br
					label.checkbox
						p Check if this is an ISP
							input(name="isisp", type="checkbox") 
					br
					
					if message == 'ok'
						div.success.control-group
							input.btn.btn-primary(type="submit", action="/submit", method="post", value="Submit")
							span.help-inline Thanks!
					else if message == 'notok'
						div.error.control-group
							input.btn.btn-primary(type="submit", action="/submit", method="post", value="Submit")
							span.help-inline Error!
					else
						div.control-group
							input.btn.btn-primary(type="submit", action="/submit", method="post", value="Submit")