extend layout

block content
	section.forms
		div.row
			div.span10.offset1
					form.well.form-search(name="form", action="/query", method="post")
						input.input-large(name="query", type="text", placeholder="Type the URL or IP here")
						button.btn.btn-primary(type="submit", action="/query", method="post") Go