extend layout

block content

p The best IP address of [url] is [0.0.0.0] (make CSS button)
div.goToButton
	input(type="submit", value="Go to foo.bar")
	form(name="proxyform", action="")
		input(type="checkbox", name="proxy", value="proxy")Use proxy