!!!5
html
	head
		title #{title} | noIPasaran
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		link(rel="stylesheet", type="text/css", href="/lib/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", media="screen", href="/stylesheets/style.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="lib/bootstrap/css/bootstrap-responsive.css", rel="stylesheet")

	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="index") noIPasaran
					div.nav-collapse.collapse(id="main-menu")
						ul.nav(id="main-menu-left")
							li 
								a(href="../about") About
							li
								a(href="../help") Help me
							li 
								a(href="http://twitter.com/MonsieurBlah", target="_blank") Twitter
							li 
								a(href="https://github.com/MonsieurBlah/noIPasaran", target="_blank") GitHub
						form.navbar-search.pull-left(name="form", action="/query", method="post")
							input.search-query.span4(type="text", placeholder="Go to URL or IP", name="query")
						ul.nav.pull-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="#") Admin
									b.caret
								ul.dropdown-menu(id="admin-menu")
									li
										a(href="../admin") DNS temp
									li
										a(href="../test") Test

		
		div.container
			br
			br
			br
			header.jumbotron.subhead(id="page_title")
				div.row
					div.span6
						unless title == "Home"
							h1 #{title}
							p.lead [Special text for each page]

			block content

		br
		br
		br
		br
		hr
		footer(id="footer")
			div.links
					a(href="#", target="_blank") [Licence]

		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="/lib/bootstrap/js/bootstrap.min.js")
		script(type="text/javascript")
			if (window.addEventListener) {
				var kkeys = [], imanok = "38,38,40,40,37,39,37,39,66,65";
				window.addEventListener("keydown", function(e){
					kkeys.push( e.keyCode );
					if ( kkeys.toString().indexOf(imanok) >= 0 ){
						alert('Konami test')
					}
				}, true);
			}