extend layout

block content

	p The best IP address of #{url} is #{ip} (make CSS button)
	div.goToButton
		input(type="submit", value="Go to #{url}", onClick="location='http://#{ip[0]}'")
		form(name="proxyform", action="")
			input(type="checkbox", name="proxy", value="proxy")Use proxy