extends layout

block content
	div.title2
		a(href="http://noipasaran.eu01.aws.af.cm/")<font color="black">no</font><font color="red">IP</font><font color="black">asaran</font>	
	p This is a test page