html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-size: 8px;
	font-family: 'Press Start 2P', cursive;
	font-weight: 100; 
	color: #000;
	background-color: #fff;
	margin: 20px 6%;
	/*background-image:url('datalove-bg.png');
	background-repeat:no-repeat;
	background-position:top right;*/
}

#content {
	margin-right:330px;
	padding-bottom:4em;
    min-height:450px;
}

a {
	color:#0000FF;
	text-decoration:none;
}

a:hover {
	border-bottom:1px dotted blue;
}

.header {
	margin:auto;
	margin-bottom:30px;
}

.title {
	font-size : 42px;
	position: relative;
	text-align: center;
	top: 200px;
}

.title a:hover{
	border-bottom:1px dotted black;
}


.input {
	position: relative;
	text-align: center;
	top: 10px;
}

.getButton {
	position: relative;
	text-align: center;
	top: 20px;
}


.externals {
	font-size: 20px;
	position: fixed;
	bottom: 20px;
	left: 20px;
}

.about {
	font-size:16px;
	margin-bottom:6px;
}

.about p {
	padding-bottom:4px;
	border-left:1px solid #000000;
	padding-left: 10px;
}

.abouttitle {
	font-size:25px;
	font-weight:bold;
	color:#000000;
	font-size: 24px;
}

.menu {
	margin-bottom:30px;
}

.menu a {
	font-weight:bold;
	font-size:12px;
}

.mirror {
    display:block; 
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
}

