html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
a {
  color: #00f;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dotted #000;
}
body {
  font-family: 'Verdana';
  background-color: #fff;
  color: #000;
  font-weight: 100;
  margin: 20px 6%;
}
.header {
  margin-bottom: 30px;
}
.header:a {
  font-size: 40px;
}
.title {
  font-size: 70px;
  position: relative;
  text-align: center;
  top: 200px;
  color: #000;
}
.title:a {
  text-decoration: none;
}
.title:a:hover {
  border-bottom: 1px dotted #fff;
}
.title2 {
  font-size: 70px;
  position: relative;
  text-align: center;
  top: 0px;
  color: #000;
}
.title2:a {
  text-decoration: none;
}
.title2:a:hover {
  border-bottom: 1px dotted #fff;
}
.input {
  position: relative;
  text-align: center;
  top: 210px;
}
.getButton {
  position: relative;
  text-align: center;
  top: 220px;
}
.fourOfour {
  font-size: 40px;
  position: relative;
  text-align: center;
  top: 200px;
  color: #000;
}
.mirror {
  display: block;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
  -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}
.footer {
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.footer:a:hover {
  border-bottom: 1px dotted #fff;
}
