.span6
	text-align center
	input
		margin-bottom 10px

#dnsname
	margin-top 15px

#country
	border-width 2px
	height 37px
	width 287px

#checkline
	margin-top 15px

#is_isp
	position relative
	left 133px
	top 1px



