body
	padding-top 80px
	a:link 
		text-decoration none

.main
	font-size 350%

.second
	font-size 200%

.good
	color #1dd2af

.wrong
	color #E74C3C

#licence
	text-align left

.content
	padding-bottom 20px
	overflow hidden

footer
	background white
	position fixed
	bottom 0
	width 100%
	height 20px
