extends layout

block specific-css
	!= css('404')

block content
	.row
		.span12.text-centered
			if something
				p.main.top Sorry, it appears that 
				p.main.wrong "#{something}" 
				p.main is not a well format URL!
				p.min (aka ERROR 404)
			else 
				p.main.good.top This is an ERROR 404!
				p.sub.wrong You probably broke the Internet
				p.min Or maybe the Internet broke itself
				p Or I made a mistake (but this is unlikely)
				br 
			p.sub Nothing else to do? Read this :

	.row
		.span8.offset2#declaration
			include ../../private/declaration.md