extends layout

block specific-css
	!= css('adminsites')

block content
		.row
			.span12
				table#sites-table.table.table-bordered.table-stripred.table-hover.table-condensed
					thead
						th ID
						th URL
						th Problem ?
						th Delete
					tbody
						each item in sites
							tr 
								td= item.site_id
								td= item.url
								td
									if item.haz_problem == 1
										i.icon-ok
									else
										i.icon-remove
								td
									button.btn.btn-danger.delete(href="#", data-site-id=item.site_id)
										i.icon-remove-sign.icon-white
										|  Delete
block specific-js
	!= js('adminsites')

