!!! 5
html
	head
	body
		form#modify-form(action="/admin/edit", method="post")
			fieldset
				input#dnsname.input-xlarge(name="name", type="text", placeholder="Name of the DNS provider", required)
				input#primaryip.input-xlarge( name="primary_ip", type="text", placeholder="The primary IP", required)
				input#secondaryip.input-xlarge(name="secondary_ip", type="text", placeholder="The secondary IP", required) 
				include includes/countries
				label.checkbox
					p Check if this is an ISP
						input#isisp(name="is_isp", type="checkbox")