extend layout

block specific-css
	!= css('country')

block content
	.row.top
		.span6.offset3.text-centered
			p.main= country
	.row
		.span12
			table.table.table-bordered.table-striped.table-condensed
				thead
					th ISP name
					th Result
				tbody
					each item in data.answer
						tr(class=item.valid=="ok"?'success':'error')
							td= item.name
							td
								if item.valid == "fail"
									p.wrong Not valid
								else if item.valid == "ok"
									p.good Valid
								else
									p Timeout
