extend layout

block specific-css
	!= css('index')

block content
	.row
		.span6.offset3
			form.form-horizontal(name="form", action="/query", method="post")
				#search-input.input-append
					input.input-xlarge(type="text", placeholder="Go to URL or IP", name="query")
					input.btn(type="submit", action="/query", method="post", value="Go")

block specific-js
	!= js('index')