extend layout

block specific-css
	!= css('index')

block content
	.row
		.span12.title
			p.second Wanna know if the Internet is censored in your country ?
			p.main Insert an URL here
			p.arrow ↓
	.row
		.span8.offset2.input
			form.form-horizontal(name="form", action="/query", method="post")
				#search-input.input-append
					input.input-xlarge(type="text", placeholder="www.example.com", name="query")
					input.btn.btn-primary(type="submit", action="/query", method="post", value="Go")
	.row
		.span8.offset2.ideas
			p Suggestions  
			ol.unstyled
				li
					a(href="/url/wikileaks.org") Wikileaks
				li
					a(href="/url/thepiratebay.se") The Pirate Bay 
				li
					a(href="/url/kickass.to") KickassTorrents
				li
					a(href="/url/fenopy.se") Fenopy
				li
					a(href="/url/dropbox.com") Dropbox 
				li
					a(href="/url/facebook.com") Facebook  
				li
					a(href="/url/twitter.com") Twitter 

block specific-js
	!= js('index')