!!!5
html
	head
		title #{title} | noIPasaran
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="keywors", content="noipasaran dns")
		meta(name="authors", content="brnrd")
		!= css('layout')
		link(rel="stylesheet", type="text/css", href="/css/bootstrap/bootstrap.min.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/css/bootstrap/bootstrap-responsive.min.css", rel="stylesheet")
		block specific-css

	body
		.navbar.navbar-fixed-top.navbar-inverse
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") noIPasaran
					#main-menu.nav-collapse
						ul#main-menu-left.nav
							if title == 'Home'
								li.active 
									a(href="/") Home
							else
								li	
									a(href="/") Home
							if title == 'Help'
								li.active 
									a(href="/help") Help me
							else
								li	
									a(href="/help") Help me
							if title == 'About'
								li.active 
									a(href="/about") About
							else
								li	
									a(href="/about") About
							li 
								a(href="https://bitbucket.org/brnrd/noipasaran", target="_blank") Code
						ul.nav.pull-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="#") Admin
									b.caret
								ul#admin-menu.dropdown-menu
									li
										a(href="/admin/servers") DNS Servers
									li
										a(href="/admin/sites") Sites
		.container
			block content

	footer
		.container
			.row
				.span12
					hr
					#licence
						a(href="http://www.kopimi.com/kopimi/", target="_blank")
							img(src="/img/kopimi.gif", alt="kopimi")
						p © 2013 WTFPL - Homemade with love by 
							a(href="https://bitbucket.org/brnrd", target="_blank") brnrd

	script(src="/js/jquery/jquery-2.0.0.min.js")
	script(src="/js/jquery/jquery.dataTables.min.js")
	script(src="/js/bootstrap/bootstrap.min.js")
	block specific-js