!!!5
html
	head
		meta(charset="utf-8")
		title #{title} | noIPasaran
		meta(name="keywords", content="dns, server, censorship, ip, url, block")
		meta(name="description", content="Check if the Internet is censored in your country")
		meta(name="author", content="Bernard Debecker")
		!= css('layout')
		link(rel="stylesheet", type="text/css", href="/flatly/flatly.min.css")
		block specific-css
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")

	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") noIPasaran
					#main-menu.nav-collapse.collapse
						ul#main-menu-left.nav
							li(class=title=='Home'?'active':undefined)
								a(href="/") Home
							li(class=title=='Help me'?'active':undefined)
								a(href="/help") Help me
							li(class=title=='About'?'active':undefined)
								a(href="/about") About
							li 
								a(href="https://github.com/brnrd/noipasaran", target="_blank") Repository
						ul.nav.pull-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="#") Admin
									b.caret
								ul#admin-menu.dropdown-menu
									li
										a(href="/admin/servers") DNS Servers
									li
										a(href="/admin/sites") Sites

		.container.content
			block content
			
		footer
			.container
				.row
					.span12
						#licence
							p © 2013 
								a(href="http://www.wtfpl.net/", targer="_blank") WTFPL
								|  - Homemade with love by 
								a(href="http://be.linkedin.com/in/bernarddebecker/", target="_blank") brnrd

	script(src="/js/jquery-1.10.1.min.js")
	script(src="/bootstrap/js/bootstrap.min.js")
	block specific-js