!!!5
html
	head
		title #{title} | noIPasaran
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="keywors", content="noipasaran dns")
		meta(name="authors", content="brnrd")
		link(rel="stylesheet", type="text/css", href="/css/bootstrap/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/css/bootswatch/bootswatch.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/css/bootstrap/bootstrap-responsive.css", rel="stylesheet")
		block specific-css

	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") noIPasaran
					div.nav-collapse(id="main-menu")
						ul.nav(id="main-menu-left")
							li
								a(href="/help") Help me
							li 
								a(href="https://bitbucket.org/brnrd/noipasaran", target="_blank") Code
						ul.nav.pull-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="#") Admin
									b.caret
								ul.dropdown-menu(id="admin-menu")
									li
										a(href="/admin/temp") Temps
									li
										a(href="/admin/final") Finals

			
	div.container
		block content

	br
	br
	br
	br
	hr
	footer(id="footer")
		div.links
				a(href="#", target="_blank") [Licence]

	script(src="/js/jquery/jquery-2.0.0.min.js")
	script(src="/js/bootstrap/bootstrap.min.js")
	block specific-js