!!!5
html
	head
		title #{title} | noIPasaran
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="keywors", content="noipasaran dns")
		meta(name="authors", content="brnrd")
		!= css('layout')
		link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="/css/flat-ui.css")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="/bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
		block specific-css

	body
		.navbar.navbar-inverse
			.navbar-inner
				.container
					a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand(href="/") noIPasaran
					#main-menu.nav-collapse
						ul#main-menu-left.nav
							li(class=title=='Home'?'active':undefined)
								a(href="/") Home
							li(class=title=='Help me'?'active':undefined)
								a(href="/help") Help me
							li(class=title=='About'?'active':undefined)
								a(href="/about") About
							li 
								a(href="https://github.com/brnrd/noipasaran", target="_blank") Repository
						ul.nav.pull-right
							li.dropdown
								a.dropdown-toggle(data-toggle="dropdown", href="#") Admin
									b.caret
								ul#admin-menu.dropdown-menu
									li
										a(href="/admin/servers") DNS Servers
									li
										a(href="/admin/sites") Sites

		.container.content
			block content

	footer
		.container
			.row
				.span12
					#licence
						a(href="http://www.kopimi.com/kopimi/", target="_blank")
							img(src="/img/kopimi.gif", alt="kopimi")
						p © 2013 
							a(href="http://www.wtfpl.net/", targer="_blank") WTFPL
							|  - Homemade with love by 
							a(href="be.linkedin.com/in/bernarddebecker/", target="_blank") brnrd

	script(src="/js/jquery-1.8.3.min.js")
	script(src="/js/bootstrap.min.js")
	block specific-js